
body {
	background-color:#000000;
    background:url('../imagenes/fondoIndex.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin:0px auto 0px auto;
	color: #ffffff
}
